.navigation .loged {
  height: 100%;
  display: flex;
  justify-content: center;
}

.navigation .loged img {
  height: 70%;
  margin: auto 0;
  padding: 0.3rem;
  border-radius: 50%;
}

.navigation .loged img:hover {
  background-color: #bbb;
}

.navigation .Sign_Up {
  background-color: dodgerblue;
  border: solid 1px white;
  color: white;
}

.navigation .Sign_Up a {
  color: white;
}

.navigation a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.navigation li:hover {
  background-color: lightgrey;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 850px) {
  .navigation {
    align-items: unset;
  }

  .menu-icon {
    display: block;
    margin-right: 10px;
  }

  .navigation ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    top: 100%;
  }

  .navigation .hide {
    display: none;
  }

  .navigation {
    justify-content: unset;
  }

  .navigation ul li {
    margin: 25px 0;
    font-size: 2em;
  }
}
