.navigation .Notification {
  background-color: #fff;
  border: solid 1px #6a6c75;
  position: absolute;
  top: 100%;
  right: 10px;
  height: 70vh;
  width: 95vw;
  border-radius: 8%;
  overflow-y: scroll;
  z-index: 1;
}

.Notification .add_friend {
  padding: 1rem;
  border-bottom: solid 1px #6a6c75;
}

.Notification .add_friend span::after {
  content: "\a";
  white-space: pre;
}

.Notification .add_friend button {
  width: 70px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 49px;
  font-size: 16px;
  cursor: pointer;
  background-color: #5995fd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
  text-decoration: none;
  margin-right: 10px;
}
