.Dialog_box {
  position: absolute;
  left: 0;
  background-color: rgba(187, 187, 187, 0.5);
  width: 100%;
  min-width: 800px;
  height: 92%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dialog_box .Container {
  border: solid 1px #6a6c75;
  background-color: #fff;
  border-radius: 15px;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.Dialog_box .Container img {
  width: 10%;
}

.Dialog_box .Container .close_button {
  transform: rotate(45deg);
  margin: auto;
  margin-right: 2px;
}
