.Connect4 {
  background-color: #0f4e63;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.Connect4 .Board {
  height: 500px;
  width: 590px;

  background-color: blue;
  border: 10px solid navy;
  box-shadow: 10px 20px 20px black;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.Connect4 .tile {
  height: 70px;
  width: 70px;
  margin: 5px;

  background-color: #0f4e63;
  border-radius: 50px;
}

.Connect4 .R {
  background-color: red;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  animation: append-animate 0.3s linear;
}

.Connect4 .Y {
  background-color: yellow;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  animation: append-animate 0.3s linear;
}

@keyframes append-animate {
  from {
    transform: translateY(-500px);
    opacity: 1;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.Connect4 .Information {
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: solid 3px black;
  border-top: solid 3px black;
  border-left: solid 3px black;
  border-radius: 15px 0 0 15px;
  background-color: white;
}

.Connect4 .youAre {
  margin: 10px;
}

.Connect4 .red_dot {
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.Connect4 .yellow_dot {
  height: 30px;
  width: 30px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}
