.Tic-Tac-Toe {
  width: 100%;
  height: 92%;
  min-width: 800px;
  background-color: #0f4e63;
}

.Tic-Tac-Toe .Board {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Tic-Tac-Toe table {
  border-collapse: collapse;
}
.Tic-Tac-Toe tr td {
  border: 7px solid #c7c7c7;
  width: 220px;
  height: 220px;
}

.Tic-Tac-Toe tr td img {
  width: 200px;
  height: 200px;
}
.Tic-Tac-Toe .Information {
  color: #c7c7c7;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
