.login {
  padding-top: 10%;
  height: 100%;
  position: relative;
  z-index: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.login form {
  position: relative;
  width: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #333;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  padding: 0 1rem;
  background: none;
  outline: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  border-color: rgba(51, 51, 51, 0.5);
}

.login .input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.login button {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  font-size: 16px;
  cursor: pointer;
  background-color: #5995fd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.login a {
  text-decoration: none;
  padding-bottom: 10px;
}

.login p {
  display: flex;
  align-items: center;
  justify-content: center;
}

#login {
  border: 2px solid #fff;
}
