.Message {
  height: 93vh;
  float: right;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.Message .chat {
  height: 94%;
  display: inline-block;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: scroll;
}

.Message .chat li {
  padding: 10px 30px;
  position: relative;
}

.Message .msg .content {
  padding: 20px;
  color: #fff;
  line-height: 25px;
  max-width: 90%;
  display: inline-block;
  text-align: left;
  overflow-wrap: break-word;
  border-radius: 10px;
  position: relative;
}

.Message .me {
  text-align: right;
}

.Message .me .content::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #5995fd;
  border-right: 10px solid transparent;
  border-top: 10px solid #5995fd;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
}

.Message .me .content {
  background-color: #5995fd;
}

.Message .other .content {
  background-color: darkgray;
}

.Message .other .content::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid darkgray;
  border-right: 10px solid transparent;
  border-top: 10px solid darkgray;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
}

.Message .sending {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
  background-color: lightgray;
}

.Message .sending button {
  width: 20%;

  border: none;
  outline: none;
  border-radius: 49px;
  font-size: 16px;
  background-color: #5995fd;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.Message .sending input {
  width: 80%;
  outline: none;
  padding: 0 1rem;
  border-radius: 55px;
  border-color: rgba(51, 51, 51, 0.5);
  line-height: 1;
}
