.Room {
  width: 40%;
  float: left;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  bottom: 0px;
}

.Room .Search {
  padding: 1%;
  height: 10%;
  display: flex;
}
.Room input {
  margin: auto 20px;
  padding: 0 1rem;
  color: #333;
  background-color: #fff;
  max-width: 800px;
  width: 50%;
  min-width: 200px;
  height: 55px;
  border-radius: 49px;
  font-size: 1.1rem;
  border-color: #6a6c75;
}

.Room .Search img {
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  padding: 0.7rem;
}

.Room .Search img:hover {
  background-color: #bbb;
}

.Room .Dialog_box {
  position: absolute;
  top: -8vh;
  left: 0;
  background-color: rgba(187, 187, 187, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Room .Dialog_box .Container {
  border: solid 1px #6a6c75;
  background-color: #fff;
  border-radius: 15px;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.Room .Dialog_box .Container img {
  transform: rotate(45deg);
  width: 10%;
  margin: auto;
  margin-right: 2px;
}

.Room .Dialog_box .Container input {
  margin: 10px;
}

.Room .Dialog_box .Container button {
  height: 40px;
  border: none;
  outline: none;
  border-radius: 49px;
  font-size: 16px;
  cursor: pointer;
  background-color: #5995fd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.Room ul {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  overflow-y: scroll;
  border-top: solid 1px #6a6c75;
}

.Room li {
  display: flex;
  padding: 2%;
  width: 100%;
  border-bottom: solid 1px #6a6c75;
}

.Room li img {
  border-radius: 50%;
  width: 10%;
  background-color: #fff;
}

.Room li span {
  text-align: center;
}

.Room li:hover {
  background-color: #bbb;
}

.Room .content {
  font-size: large;
}
