@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-field {
    @apply border-black;
    @apply border-2;
    @apply rounded-full;
    @apply p-2;
    @apply m-2;
    @apply h-10;
    @apply w-56;
    @apply md:p-4;
    @apply md:w-64;
    @apply md:text-2xl;
    @apply md:h-12;
  }
}

button-classic {
  height: 40px;
  border: none;
  outline: none;
  border-radius: 49px;
  font-size: 16px;
  cursor: pointer;
  background-color: #5995fd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 8px 0;
  transition: 0.5s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
