/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-field {
    @apply border-black;
    @apply border-2;
    @apply rounded-full;
    @apply p-2;
    @apply m-2;
    @apply h-10;
    @apply w-56;
    @apply md:p-4;
    @apply md:w-64;
    @apply md:text-2xl;
    @apply md:h-12;
  }

  .Dialog_box {
    @apply absolute;
    @apply left-0;
    @apply top-0;
    @apply bg-slate-200;
    @apply bg-opacity-40;
    @apply w-full;
    @apply h-full;
    @apply z-10;
    @apply flex;
    @apply justify-center;
    @apply items-center;
  }

  .Dialog_box .Container {
    @apply border-2;
    @apply border-black;
    @apply bg-white;
    @apply rounded-xl;
    @apply p-1;
    @apply md:p-8;
    @apply flex;
    @apply flex-col;
    @apply z-20;
  }

  .bg-poker {
    background: rgb(0, 195, 65);
    background: radial-gradient(
      circle,
      rgba(0, 195, 65, 1) 0%,
      rgba(0, 153, 51, 1) 100%
    );
  }

  .bg-home {
    background: rgb(57,0,119);
    background: linear-gradient(137deg, rgba(57,0,119,1) 0%, rgba(111,0,230,1) 100%);
  }

  @keyframes spawn {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-stack-cards {
    animation: spawn 1s linear;
  }
}

@tailwind components;

@tailwind utilities;
